<div class="panel-header panel-header-sm">
  </div>
<br>
<br>
<div class="container">
  <div class="row">
<div class="col-md-9">
<p-table [value]="countries">
  <ng-template pTemplate="header">
      <tr>
          <th style="text-align: center;">#</th>
          <th style="text-align: center;">holiday</th>
          <th style="text-align: center;">date</th>
          <th style="text-align: center;">location</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car let-i="rowIndex">
      <tr >
        <td style="text-align: center;">{{ i + 1 }}</td>
          <td style="text-align: center;">{{car.holiday}}</td>
          <td style="text-align: center;">{{car.date}}</td>
          <td style="text-align: center;">{{car.location}}</td>
      </tr>
  </ng-template>
</p-table>
</div>
<div class="col-md-3">
  <img src="../../../assets/img/holiday1.jpg" width="1000px" height="500px">
     </div>