<!-- <div class="panel-header panel-header-sm">
</div> -->

<ul class="nav justify-content-end items">


  <!-- <div ngbDropdown>
    <button type="button" class="btn btn-default dropdown-toggle" ngbDropdownToggle>
      <i class="far fa-file-word"></i>Manage Organization & Users
    </button>
    <div ngbDropdownMenu class="dropdown-menu-right">
      <a class='dropdown-item' [routerLink]="['/typography/organization']">Organizations</a>
      <a class='dropdown-item' [routerLink]="['/typography/location']">Locations</a>
      <a class='dropdown-item' [routerLink]="['/typography/department']">Department</a>
      <a class='dropdown-item' [routerLink]="['/typography/user']">Users</a>
      <a class='dropdown-item' [routerLink]="['/typography/document']">Document Type</a>
      <a class='dropdown-item' [routerLink]="['/typography/designation']">Designations</a>
    </div>
  </div> -->


    <!-- <li class="nav-item">
      <a class="nav-link dropdata" href="#"><i class="fa fa-plus"></i>Create Project</a>
    </li>

    <li class="nav-item">
      <a class="nav-link dropdata" [routerLink]="['/typography/timesheet']" href="#"><i class="fa fa-clock-o" aria-hidden="true"></i>Time Sheets</a>
    </li>
    <li class="nav-item">
      <a class="nav-link dropdata" href="#"><i class="fa fa-edit" aria-hidden="true"></i>Edit Projects</a>
    </li> -->
</ul>
<div class="main-container container-fluid">
  <div class="pannel zoomIn"></div>
</div>
