.btn, .navbar .navbar-nav > a.btn {
  border-width: 2px;
  font-weight: 600;
  font-size:10pt;
  line-height: 1.35em;
  border: none;
  margin: 10px 1px;
  border-radius: 0.1875rem;
  padding: 11px 22px;
  cursor: pointer;
  background-color:transparent;
  color: #3498db;
}
