<p-toast [style]="{marginTop: '80px'}"></p-toast>
<!-- <div style="padding-left:10px;"> -->
    <div class="container-fluid">
        <div class="ui-g">
            <div class="ui-g-4"><i style="margin:3px 3px 0 0"></i>
              <input
                class="form-control"
                type="text"
                pInputText
                placeholder="Search by name "
                (input)="search.filterGlobal($event.target.value, 'contains')"/></div>
              <div class="ui-g-4" style="padding-top: 25px;float:right !important"></div>
            <div class="ui-g-4" style="padding-top: 25px;float:right !important">
              <span style="float: right;overflow: hidden;text-overflow: ellipsis;">
              <button
                type="button"
                (click)="OpenAddEdit('add')"
                pButton
                label="Add Document"
              ></button
            >
          </span>
          </div>
        </div>
<p-table #search [value]="arrDoc" [paginator]="true" [rows]="25"  [globalFilterFields]="['name','description']" [responsive]="true"  [scrollable]="true" scrollHeight="680px">

        <!-- <ng-template pTemplate="caption">
        <div style="text-align: left; padding-top: 20px;">
          <input
            type="text"
            pInputText
            size="10"
            placeholder="Search here...."
            (input)="search.filterGlobal($event.target.value, 'contains')"
            style="width:20%;"/>
          <span style="float: right"><button class="table table-striped table-sm table-responsive-sm table-hover" type="button" (click)="OpenAddEdit('Add')" pButton label="Add DocumentType"></button></span>
        </div>
        </ng-template> -->
        <ng-template pTemplate="header">
          <tr class="my-center-text">
            <th>Document Name</th>
            <th>Description</th>
            <th id="text-align-right">Actions</th>
          </tr>
        </ng-template>
          <ng-template pTemplate="body" let-rowData>
              <tr>
              <td><span class="ui-column-title">Name</span>{{ rowData.name }}</td>
              <td ><span class="ui-column-title">Description</span>{{ rowData.description }}</td>
              <td class="iconaligncenter">
                <span class="ui-column-title">Actions</span>
             <i class="fas fa-edit" (click)="OpenAddEdit('Edit',rowData.id,rowData)"></i>|
             <i class="fas fa-trash-alt"  (click)="confirmDelete(rowData.id)"></i>
             </td>
            </tr>
          </ng-template>
      </p-table>
  <p-dialog header="Add/Edit DocumentType" [(visible)]="display" [modal]="true" [responsive]="true"  [baseZIndex]="10000">
  <div class="modal-body">
    <form [formGroup]="docForm" (ngSubmit)='onFormSubmit(docForm)' >
      <table>
        <tr>
          <td>
            <div class="form-group">
              <label for="name">Name</label>
              <div class="">
                <input type="text" id="name" placeholder="Name" class="form-control" formControlName="name">
                </div>
            </div>
            </td>
            <td>
            <div class="form-group">
                <label for="description">Description</label>
                <div class="">
                <input  class="form-control" formControlName="description"  placeholder="description">
                </div>
               </div>
            </td>
          </tr>
      </table>
      <div>
        <button type="submit" class="btn btn-outline-dark"
          >{{selectedDocumentOption}} </button>
      </div>
    </form>
   </div>
</p-dialog>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
</div>


