<div class="container-fluid">
  <div class="ui-g">
      <div class="ui-g-4"><i style="margin:3px 3px 0 0"></i>
        <input
          class="form-control"
          type="text"
          pInputText
          placeholder="Search by name "
          (input)="search.filterGlobal($event.target.value, 'contains')"
        /></div>
        <div class="ui-g-4" style="padding-top: 25px;float:right !important"></div>
      <div class="ui-g-4" style="padding-top: 25px;float:right !important">
        <span style="float: right;overflow: hidden;text-overflow: ellipsis;">
        <button
          type="button"
          (click)="showDialog('Add')"
          pButton
          label="Add Designation"
        ></button
      >
    </span>
    </div>
  </div>

  <p-table
    #search
    [value]="arrDesig"
    [paginator]="true"
    [rows]="25"
    [responsive]="true"
    [scrollable]="true"
    scrollHeight="680px"
    [globalFilterFields]="['name']">
    <ng-template pTemplate="header" let-columns>
      <tr class="my-center-text">
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-desg>
      <tr>
        <td><span class="ui-column-title">Name</span> {{ desg.name }}</td>
        <td>
          <span class="ui-column-title">Description</span>
          {{ desg.description }}
        </td>
        <td class="iconaligncenter">
          <span class="ui-column-title">Actions</span>
          <i
            class="pi pi-user-edit"
            style="cursor: pointer;"
            (click)="showDialog('Edit', desg.id, desg)"
          ></i>
          |
          <i
            class="pi pi-trash"
            style="cursor: pointer;"
            class="fas fa-trash-alt"
            (click)="confirmDelete(desg.id)"
          ></i>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-toast [style]="{ marginTop: '80px' }"></p-toast>

  <p-dialog
    header="Add/Edit Designation"
    [(visible)]="display"
    [modal]="true"
    [responsive]="true">
    <div class="modal-body">
      <form (ngSubmit)="onFormSubmit(desgForm)" [formGroup]="desgForm">
        <div class="ui-g-12">
          <div class="row">
            <div class="ui-md-6">
              <div class="form-group">
                <label for="name">Name</label>
                <div class="">
                  <input
                    class="form-control"
                    formControlName="name"
                    placeholder="Name"/>
                </div>
              </div>
            </div>
            <div class="ui-md-6">
              <div class="form-group">
                <label for="description">Description</label>
                <div class="">
                  <input
                    class="form-control"
                    formControlName="description"
                    placeholder="description"/>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="ui-md-6">
              <div class="form-group">
                <button type="submit" class="btn btn-outline-dark">
                  {{ selectedDesignationOption }}Designation
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </p-dialog>

  <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
</div>
